html{
    font-family: serif !important;
}



body {
    background-color: #0B0C10;
    color: white;
}

.cards {
    background-color: #0B0C10;
    color: white;
}
.page-footer{
    background-color: #1F2833;
    color: white;
}

.card {
    background-color: #c8d8e4;
    color: #2b6777;
}

.card .card-title {
    font-weight: bolder;
}

.card .card-image img {
    height: 350px;
    object-fit: cover;
}

.tabs {
    background-color: #1F2833;
}
.tabs .indicator {
    background-color:#fff;
}
.tabs .tab a{
    color:#fff;
}
.tabs .tab a.active {
    background-color:#888;
    color:#000;
}
.tabs .tab a:hover {
    background-color:#eee;
    color:#000;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: #c8d8e4;
}

.start {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.start .container .header {
    display: inline-block;
    font-weight: bolder;
}

.start .container .content {
    display: inline-block;
}

.parallax-container {
    height: 600px;
}