{%extends 'index.html'%}
{%block title%}Frontend Languages{%endblock%}
{%block content%}
<div class="sidebar close">
    <div class="logo-details">
        <i class='bx bx-broadcast' ></i>
        <span class="logo_name">New Dawn</span>
    </div>
    <ul class="nav-links">
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bxl-html5'></i>
                    <span class="link_name">HTML</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">HTML</a></li>
                {%for i in ModelData_HTML%}
                <li><a href="http://127.0.0.1:8000/Frontend/HTML/{{i.Title}}">{{i.Title}}</a></li>
                {%endfor%}
            </ul>
        </li>

        <li>
            <div class="iocn-link">
                <a href="#">

                    <i class='bx bxl-css3'></i>
                    <span class="link_name">CSS</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">CSS</a></li>
                {%for i in ModelData_CSS%}
                <li><a href="http://127.0.0.1:8000/Frontend/CSS/{{i.Title}}">{{i.Title}}</a></li>
                {%endfor%}
            </ul>
        </li>

        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bxl-javascript'></i>
                    <span class="link_name">JS</span>
                </a>
                <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">JS</a></li>
                {%for i in ModelData_JS%}
                <li><a href="http://127.0.0.1:8000/Frontend/JS/{{i.Title}}">{{i.Title}}</a></li>
                {%endfor%}
            </ul>
        </li>
    </ul>
</div>

<section class="home-section" style="height: 100%;">
    <div class="home-content">
        <i class='bx bx-menu'></i>
        <span class="text">{{PageData.Title}}</span>
    </div>
    <hr>
    <div class="contentt" id = "contenttt">
        
    </div>
</section>

<script type="text/javascript">
    var href = "http://127.0.0.1:8000/uploads/{{PageData.Description}}"
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", href, false);
    xmlhttp.send();

    document.getElementById("contenttt").innerHTML = xmlhttp.responseText;
</script>
{%endblock%}